/* MenuAdmin.css */
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; 
}

.title2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  padding: 10px;
  color: black;
}

.nameLabel2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.userName2 {
  color: #808080;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

.buttonContainer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.button2 {
  background-color: #F44C7F;
  padding: 10px;
  border-radius: 10px;
  width: 170px;
  height: 50px;
  display: flex;
  border: 3px solid #F44C7F;
  justify-content: center;
  align-items: center;
}

.buttonText2 {
  color: #fff;
  font-weight: bold;
}

.button2:hover {
  border-color: #F44C7F; 
  background-color: #fff;
}

.button2:hover .buttonText2 {
  color: #F44C7F; 
}


.listContainer2 {
  height: auto;
  width: 400px;
  border: 1px solid #808080;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 10px; /* Bordes redondeados en todo el contenedor */
  overflow: hidden; /* Asegura que los bordes redondeados se apliquen bien */
}

/* Asegurarse de que la lista tenga scroll si es necesario */
.list {
  max-height: 300px; /* Ajusta la altura según tus necesidades */
  overflow-y: auto;  /* Habilitar el scroll vertical */
  margin-top: 10px;
}
.busquedaTitle{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Asegura que los elementos de la lista se alineen bien, incluso con texto largo */
.listItem2 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-color: transparent;
  cursor: pointer;
  word-wrap: break-word;  /* Para que el texto largo no desborde */
  
}

.listItemText2 {
  flex: 1; /* Permite que el texto ocupe el espacio disponible */
  padding-right: 10px; /* Espacio entre los textos */
  color: rgba(0, 0, 0, 0.511);
  font-size: 14px;
}

.header2 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #ddd;
  font-weight: bold;
}

.headerText2 {
  flex: 1;
  padding-right: 10px;
}

.bottomButton2 {
  background-color: #F44C7F;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  border: 3px solid #F44C7F;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 50px;
}
.bottomButton2:hover {
  border-color: #F44C7F; 
  background-color: #fff;
}

.bottomButton2:hover .buttonText2 {
  color: #F44C7F; 
}


.bottomButton3 {
  background-color: #F44C7F;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
  border: 3px solid #F44C7F;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 50px;
}
.bottomButton3:hover {
  border-color: #F44C7F; 
  background-color: #fff;
}

.bottomButton3:hover .buttonText2 {
  color: #F44C7F; 
}



.logoutButton2 {
  border: 1px solid #F44C7F;
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoutButtonText2 {
  color: #F44C7F;
}
/* Estilo para cuando una farmacia está seleccionada */
.selected {
  background-color: #f44c7e3e;
  
}


/* Personalizar la barra de desplazamiento en la lista */
.list::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

.list::-webkit-scrollbar-thumb {
  background-color: #00000050; /* Color de la parte que se mueve */
  border-radius: 10px; /* Bordes redondeados */
}

.list::-webkit-scrollbar-thumb:hover {
  background-color: #F44C7F; /* Color al pasar el mouse */
}

.list::-webkit-scrollbar-track {
  background: #b8b7b700; /* Color de la parte de fondo */
  border-radius: 0px; /* Bordes redondeados */
}
